Source: python-riak
Section: python
Priority: optional
Maintainer: Basho Technologies <riak@basho.com>
Build-Depends: debhelper (>= 7.0.50~), python-support
Standards-Version: 3.9.1

Package: python-riak
Architecture: all
Depends: ${python:Depends},
    ${misc:Depends},
    python-protobuf (>= 2.3.0)
Description: Python client for Riak
 Python client for Riak

