div.admonition p {
    margin: 0;
}

p.admonition-title {
    float: left;
    margin-right: 0.5em ! important;
}

p.admonition-title:after {
    content: ":";
    font-weight: bold;
}

div.alert-info a {
    color: #555;
}